$background: #f9f9f9;
$color: #3A3A3A;
$grey: #DFDFDF;

$title: #795555;
$highlight: #A08158;
$action: #A05859;


@mixin color($c: $color, $b: $background) {
  color: $c;
  background: $b;
}

@mixin link($c: $highlight, $b: $background) {
  a {
    @include color($c, $b);
    text-decoration: none;
    
    &:hover {
      border-bottom: 1px solid;
    }
  }
}