



@mixin figcaption {
  text-align: center;
  font-style: italic;
  font-size: smaller;
}


body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  
  p + p, p + figure, ol + figure, figure + p {
    margin-top: $gutter;
  }
  
  figure + figure {
    margin-top: $gutter * 2;  
  }
  
  ol {
    list-style-type: decimal;
  }
  
  figcaption {
    @include figcaption;
  }
  
}







h4 {
  font-style: italic;
  font-size: larger;
}

h1 { font-size:4.23077em; padding:1.29532em 0; }
h2 { font-size:2.61538em; padding:1.28666em 0; }
h3 { font-size:1.61538em; padding:1.30936em 0; }

h1, h2, h3, h4 {
  font-family: 'Old Standard TT', serif;
}